name: CI
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: '3.x'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Generate coverage report
        run: |
          python -m pip install --upgrade pip
          pip install pytest-cov
          pytest --cov --cov-report=xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1